/* Navbar
   ========================================================================== */
.navbar-brand {
  font-size: $nav-font-size;

  .nav-item {
    font-size: $nav-item-font-size;
  }
}

/* Header
  ========================================================================== */

.header {
  background: $header-background;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.top-gradient {
  background: $nav-top-gradient;
}


/* Misc
  ========================================================================== */


/**
* Helpers & modifier rules go here
*/

.content {
  padding-top: 15rem;
  text-align: center;
}

.pull-right {
  float: right;
}

div.fixed-rectangle {
  background-color: #ffffff;
  height: 222px;
  width: 1px;
}

div.fixed-rectangle-inverse {
  background-color: #000000;
  height: 219px;
  width: 5px;
}

.bg-jumbotron {
  background-color: #F6F9FC;
}

.bg-cheatsheet {
  background-color: #4AC6C5;
}

.bg-request {
  background-color: #C776EF;
}

.wide-border {
  border-right: 5rem;
}

.plane-img {
  -webkit-transform: rotate(2deg);
  display: inline;
  height: auto;
  opacity: .55;
  position: absolute;
  right: 65px;
  top: -120px;
  transform: rotate(2deg);
  z-index: 0;
}

.plane-container {
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1200px) {
    .left-padding {
      padding-left: 0px;
    }
  }
}

.left-padding {
  padding-left: 20%;
}

.plane-index {
  position: relative;
  z-index: 1;
}

.forward-index {
  z-index: 10;
}

a.mx-custom {
  margin-left: 105px;
  margin-right: 105px;
}

/* Template styles and buttons
   ========================================================================== */
body {
  font-family: $font-family;
}

.btn {
  border-radius: 30px 30px 30px 30px;
}


/* Footer
  ========================================================================== */

.footer {
  background: $footer-background;
  background-size: cover;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
}

/* bottom-links
   ========================================================================== */
/* Bottom-links variables
   ========================================================================== */
/* Landing page components: bottom-links
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/bottom-links/bottom-links.variables.scss */
.bottom-links-items {
  margin: 24px 0 0 0;
}

.bottom-links-items>div {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.bottom-links-items>div .btn {
  align-self: center;
  margin-top: auto;
}

.bottom-links-icon {
  height: 18px;
  margin-right: 8px;
}

.btn-group-footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .btn-group-footer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1336px) {
  .btn-group-footer {
    justify-content: space-around;
  }
}

.panel-footer {
  margin: 1;
}

.bg-bottom {
  background: none;
}

/* Responsive text and image
  ========================================================================== */
button.responsive-text,
h4.responsive-text {
  font-size: $h4-font-size;
}

@media screen and (max-width: 1480px) {

  button.responsive-text,
  h4.responsive-text {
    font-size: $h4-font-size-mid;
  }
}

@media screen and (max-width: 1310px) {

  button.responsive-text,
  h4.responsive-text {
    font-size: $h4-font-size-small;
  }
}

@media screen and (max-width: 1000px) {

  button.responsive-text,
  h4.responsive-text {
    font-size: $h4-font-size-large;
  }
}

img.responsive-image {
  height: 10em;
  padding-left: 48px;
}

@media screen and (max-width: 1480px) {
  img.responsive-image {
    height: 8em;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1310px) {
  img.responsive-image {
    height: 6em;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1000px) {
  img.responsive-image {
    height: 8em;
    padding-left: 32px;
  }
}

/* Icons item
  ========================================================================== */

.animated-image {
  left: 0;
  position: relative;
  top: 0;
}

.animated-icons {
  left: 80px;
  position: absolute;
  top: 25px;

  @media screen and (max-width: 1000px) {
    top: 55px;
  }
}

/* Docs
  ========================================================================== */

.command {
  background-color: #fbe5e1;
  border-radius: 4px;
  color: $command;
  display: inline;
  padding: 2px 4px;
}

.codes {
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 2px;
  color: $codes;
  display: block;
  padding: 10px;
}

i.md-18 {
  font-size: $eos-md-18;
}

i.md-24 {
  font-size: $eos-md-24;
}

i.md-36 {
  font-size: $eos-md-36;
}

i.md-48 {
  font-size: $eos-md-48;
}

p {
  margin-bottom: 1.5rem;
}

.contributors {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  p {
    font-size: $font-size-xs;
  }

  a {
    padding: 0 10px;
  }

  &-img {
    border-radius: 100%;
    margin: 0 20px;
    width: 80px;
  }
}

.landing-icons-demo {
  display: block;
  margin: 20px auto 40px;
  width: 700px;
}

$eos-icons-gray-bg: #f7f9fc;
$landing-font-size: 20px;

.gray-bg {
  background: $eos-icons-gray-bg;
}

.padding-vertical-lg {
  padding: 80px 0px;
}

.padding-top-md {
  padding-top: 50px;
}

.landing-page {
  font-size: $landing-font-size;
}
