.icons-container {
  h3 {
    margin-bottom: $icons-picker-container-h3-margin-bottom;
    text-align: center;
  }

  p {
    display: inline-block;
    text-align: center;
  }

}

.default-btn {
  border-color: $dark-gray;
  border-radius: $icons-picker-generate-button-border-radius;
  display: inline;
  margin: auto;
  padding: $icons-picker-generate-button-padding;

  &:hover {
    background-color: $dark-gray;
    color: $light-color;
  }
}

.icons-picker-footer {
  .select-all-icons {
    cursor: pointer;
    display: inline;
    float: left;
    margin: $icons-picker-select-margin;

    i {
      padding-left: $icons-picker-select-icon-padding;
      vertical-align: sub;
    }

    &:hover {
      color: $dark-color;
    }
  }

  .deselect-all-icons {
    cursor: pointer;
    display: inline;
    float: left;
    margin: $icons-picker-select-margin;

    i {
      padding-left: $icons-picker-deselect-icon-padding;
      vertical-align: sub;
    }

    &:hover {
      color: $dark-color;
    }
  }

  .generate-div {
    display: inline;
    float: right;
    padding-bottom: $icons-picker-footer-padding-bottom;
    ;

    h6 {
      border-color: $dark-gray;
      display: inline;
      margin: auto;
      padding: $icons-picker-icons-count-padding;
    }

    button {
      @extend .default-btn;
    }
  }
}

.config-file-modal {
  .upload-btn {
    @extend .default-btn;
    float: right;
  }
}

.icons-picker-loading {
  background-color: $icons-picker-loading-background-color;
  display: none;
  height: 100%;
  left: 0px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: $icons-picker-loading-zindex;

  i {
    border-color: $dark-gray;
    border-top-color: $light-color;
    font-size: $icons-picker-loading-icon-font-size;
    margin-top: $icons-picker-loading-icon-margin-top;
  }

  p {
    color: $light-color;
    margin-top: $icons-picker-loading-text-margin-top;
  }
}
